In [1]:
!pip install transformers -q

In [2]:
import transformers

import numpy as np
import pandas as pd
import tensorflow as tf

In [3]:
!curl -LO https://raw.githubusercontent.com/MohamadMerchant/SNLI/master/data.tar.gz
!tar -xvzf data.tar.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 11.1M  100 11.1M    0     0  14.7M      0 --:--:-- --:--:-- --:--:-- 14.7M
SNLI_Corpus/
SNLI_Corpus/snli_1.0_dev.csv
SNLI_Corpus/snli_1.0_train.csv
SNLI_Corpus/snli_1.0_test.csv

In [4]:
max_length = 128  
batch_size = 32
epochs = 2

# Labels in our dataset.
labels = ["contradiction", "entailment", "neutral"]

In [5]:
train_df = pd.read_csv("SNLI_Corpus/snli_1.0_train.csv", nrows = 100000)
valid_df = pd.read_csv("SNLI_Corpus/snli_1.0_dev.csv")
test_df = pd.read_csv("SNLI_Corpus/snli_1.0_test.csv")

print(f"Total train samples : {train_df.shape[0]}")
print(f"Total validation samples: {valid_df.shape[0]}")
print(f"Total test samples: {valid_df.shape[0]}")

Total train samples : 100000
Total validation samples: 10000
Total test samples: 10000

In [6]:
train_df.head()

      similarity  ...                                          sentence2
0        neutral  ...  A person is training his horse for a competition.
1  contradiction  ...      A person is at a diner, ordering an omelette.
2     entailment  ...                  A person is outdoors, on a horse.
3        neutral  ...                  They are smiling at their parents
4     entailment  ...                         There are children present

[5 rows x 3 columns]

In [7]:
print(f"Sentence1: {train_df.loc[1, 'sentence1']}")
print(f"Sentence2: {train_df.loc[1, 'sentence2']}")
print(f"Similarity: {train_df.loc[1, 'similarity']}")

Sentence1: A person on a horse jumps over a broken down airplane.
Sentence2: A person is at a diner, ordering an omelette.
Similarity: contradiction

### Preprocessing

In [8]:
train_df.dropna(axis = 0, inplace = True)

In [9]:
train_df.similarity.value_counts()

entailment       33384
contradiction    33310
neutral          33193
-                  110
Name: similarity, dtype: int64

In [10]:
train_df = (
    train_df[train_df.similarity != "-"]
    .sample(frac = 1.0, random_state = 42)
    .reset_index(drop = True)
)

valid_df = (
    valid_df[valid_df.similarity != "-"]
    .sample(frac = 1.0, random_state = 42)
    .reset_index(drop = True)
)

In [11]:
# One hot encode the label

train_df["label"] = train_df["similarity"].apply(
    lambda x: 0 if x == "contradiction" else 1 if x == "entailment" else 2
)
y_train = tf.keras.utils.to_categorical(train_df.label, num_classes = 3)

valid_df["label"] = valid_df["similarity"].apply(
    lambda x: 0 if x == "contradiction" else 1 if x == "entailment" else 2
)
y_val = tf.keras.utils.to_categorical(valid_df.label, num_classes = 3)

test_df["label"] = test_df["similarity"].apply(
    lambda x: 0 if x == "contradiction" else 1 if x == "entailment" else 2
)
y_test = tf.keras.utils.to_categorical(test_df.label, num_classes = 3)